
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminLTE Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {% block styles %}{% endblock %}
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 sidebar">
        <div class="user">
          <img src="https://via.placeholder.com/50" alt="User Profile" class="rounded-circle">
          <p class="mt-2">Alexander Pierce</p>
          <p class="text-muted">Online</p>
        </div>
        <hr>
        <ul>
          <li><a href="#"><i class="fas fa-tachometer-alt icon"></i> Painel</a></li>
          <li><a href="#"><i class="fas fa-file-alt icon"></i> Cotistas</a></li>
          <li><a href="#"><i class="fas fa-chart-line icon"></i> Relatórios</a></li>
          <li><a href="#"><i class="fas fa-calendar-alt icon"></i> Fechamento</a></li>
          <li><a href="#"><i class="fas fa-cogs icon"></i> Opções</a></li>
          <!--
          <li><a href="#"><i class="fas fa-chart-bar icon"></i> Dashboard v1</a></li>
          <li><a href="#"><i class="fas fa-chart-pie icon"></i> Dashboard v2</a></li>
          <li><a href="#"><i class="fas fa-th-list icon"></i> Layout Options</a></li>
          <li><a href="#"><i class="fas fa-list-ul icon"></i> UI Elements</a></li>
          <li><a href="#"><i class="fas fa-table icon"></i> Tables</a></li>
          <li><a href="#"><i class="fas fa-envelope icon"></i> Mailbox</a></li>
          <li><a href="#"><i class="fas fa-folder-open icon"></i> Examples</a></li>
          <li><a href="#"><i class="fas fa-sitemap icon"></i> Multilevel</a></li>
          -->
        </ul>
      </div>

        {% block content %}{% endblock %}
    </div>
  </div>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% block script2 %}{% endblock %}
    


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% block script %}{% endblock %}
    
</body>
</html>